<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel=stylesheet type=text/css href="../../static/main.css">
    <link rel=stylesheet type=text/css href="../../static/header.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Raleway" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header_inner">
            <div class="header_text">Catalog App</div>
            <div class="button">
                <div class="header-button-inner">
                    Login
                </div>
            </div>
        </div>
    </div>
    <main class="container-main">
        <div class="category">
            <div class="category-header">Categories</div>
            <div class="category-main">
                <ul style="list-style-type:none">
                    <li>Soccer</li>
                    <li>Baseball</li>
                    <li>Basketball</li>
                    <li>Frisbee</li>
                </ul>
            </div>
        </div>
        <div class="vertical-border"></div>
        <div class="item">
            <div class="item-header">Latest Items</div>
            <div class="item-main">
                <ul style="list-style-type:none">
                    <li>Stick</li>
                    <li>Googles</li>
                    <li>Snowboard</li>
                    <li>Bat</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>